---
import PrimaryCTA from '../components/PrimaryCTA.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <section>
    <h1 class="text-white">Lär dig spela</h1>
    <p class="font-bold">Brassinstrument</p>
    <p class="text-white">
      Välkommen du som redan är elev eller du som vill börja spela ett
      brassinstrument.
    </p>

    <PrimaryCTA href="/ovningar">Kom igång!</PrimaryCTA>
  </section>

  <section>
    <h2 class="font-bold">Nyfiken på att spela brassinstrument?</h2>
  </section>
</Layout>
