@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

* {
    -webkit-tap-highlight-color: transparent;
}

/*
    This will hide the focus indicator if the element receives focus
    via the mouse, but it will still show up on keyboard focus.
  */
.js-focus-visible :focus:not([data-focus-visible-added]) {
    outline: none;
    box-shadow: none;
}

.round {
    border-radius: 50%;
}

.bg-white {
    background: rgba(255, 255, 255, 0.9);
}
